<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Prompt</h5>
          <p>
            <strong>ID</strong>: {{game.id}}</p>
          <p>
          <p>
            <strong>Text</strong>: {{game.original}}</p>
          <p>
            <strong>Description:</strong> {{game.userIds}}</p>
          <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Guess Number One</h5>
          <p>
            <strong>ID</strong>: {{game.id}}</p>
          <p>
          <p>
            <strong>Text</strong>: {{game.text}}</p>
          <p>
            <strong>Description:</strong> {{game.description}}</p>
          <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Guess Number Two</h5>
          <p>
            <strong>ID</strong>: {{game.id}}</p>
          <p>
          <p>
            <strong>Text</strong>: {{game.text}}</p>
          <p>
            <strong>Description:</strong> {{game.description}}</p>
          <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Guess Number Three</h5>
          <p>
            <strong>ID</strong>: {{game.id}}</p>
          <p>
          <p>
            <strong>Text</strong>: {{game.text}}</p>
          <p>
            <strong>Description:</strong> {{game.description}}</p>
          <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Final Guess</h5>
          <p>
            <strong>ID</strong>: {{game.id}}</p>
          <p>
          <p>
            <strong>Text</strong>: {{game.text}}</p>
          <p>
            <strong>Description:</strong> {{game.description}}</p>
          <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>